Project_part1_v3/Project_Part1_v3.pdf
Project_part2_v3/Project_part2_v3.pdf
Project_part2_v3/Project_part2_solution_v3.pdf
Project_part3_v3/Project_part3_v3.pdf
Project_part3_v3/python.ipynb
.DS_Store
workflow.pdf